script(src='/js/bootstrap/jquery-2.0.3.min.js')
script(src='/js/bootstrap/jquery-migrate-1.2.1.min.js')
script(src='/js/bootstrap/bootstrap.min.js')
script(src='/js/bootstrap/jquery-ui-1.10.3.custom.min.js')
script(src='/js/bootstrap/jquery.sparkline.min.js')
script(src='/js/bootstrap/jquery.flot.min.js')
script(src='/js/bootstrap/jquery.flot.pie.min.js')
script(src='/js/bootstrap/jquery.flot.stack.min.js')
script(src='/js/bootstrap/jquery.flot.resize.min.js')
script(src='/js/bootstrap/jquery.flot.time.min.js')
script(src='/js/bootstrap/retina.min.js')
script(src='/js/bootstrap/raphael.min.js')
script(src='/js/bootstrap/justgage.1.0.1.min.js')
script(src='/js/bootstrap/custom.min.js')
script(src='/js/bootstrap/core.min.js')
script(src='/js/bootstrap/wizard.min.js')
script(src='/js/bootstrap/jquery.chosen.min.js')
script(src='/js/bootstrap/jquery.placeholder.min.js')
script(src='/js/bootstrap/jquery.autosize.min.js')
script(src='/js/bootstrap/pages/index.js')
script(src='/js/bootstrap/angular.js')
script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-animate.min.js")
script(src='/joola.io.js')
script(src='/js/bootstrap/angular.custom.js')
script(src='/js/bootstrap/site.js')
