script(src='/js/jquery-2.0.3.min.js')
script(src='/js/jquery-migrate-1.2.1.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/jquery-ui-1.10.3.custom.min.js')
script(src='/js/jquery.sparkline.min.js')
script(src='/js/jquery.flot.min.js')
script(src='/js/jquery.flot.pie.min.js')
script(src='/js/jquery.flot.stack.min.js')
script(src='/js/jquery.flot.resize.min.js')
script(src='/js/jquery.flot.time.min.js')
script(src='/js/retina.min.js')
script(src='/js/raphael.min.js')
script(src='/js/justgage.1.0.1.min.js')
script(src='/js/custom.min.js')
script(src='/js/core.min.js')
script(src='/js/wizard.min.js')
script(src='/js/jquery.chosen.min.js')
script(src='/js/jquery.placeholder.min.js')
script(src='/js/jquery.autosize.min.js')
script(src='/js/pages/index.js')
