include head.jade
body
  include navbar.jade
  .container-fluid
    .row-fluid
      include sidebar.jade
      #content.span11
        .row-fluid
        .row-fluid
          #stats-chart2.span12(style='height: 300px; overflow: hidden;')
        hr
        .row-fluid
          .widget.span5(ontablet='span12', ondesktop='span5')
            h2
              span.glyphicons.globe
                i
              | Demographics
            hr
            .content
              .verticalChart
                .singleBar
                  .bar
                    .value
                      span 37%
                  .title US
                .singleBar
                  .bar
                    .value
                      span 16%
                  .title PL
                .singleBar
                  .bar
                    .value
                      span 12%
                  .title GB
                .singleBar
                  .bar
                    .value
                      span 9%
                  .title DE
                .singleBar
                  .bar
                    .value
                      span 7%
                  .title NL
                .singleBar
                  .bar
                    .value
                      span 6%
                  .title CA
                .singleBar
                  .bar
                    .value
                      span 5%
                  .title FI
                .singleBar
                  .bar
                    .value
                      span 4%
                  .title RU
                .singleBar
                  .bar
                    .value
                      span 3%
                  .title AU
                .singleBar
                  .bar
                    .value
                      span 1%
                  .title N/A

          .widget.span3.noMargin(ontablet='span6', ondesktop='span3')
            h2
              span.glyphicons.pie_chart
                i
              | ACTIONS
            hr
            .content
              div#actionDonut
              //
                .browserStat.big
                  img(src='img/browser-chrome-big.png', alt='Chrome')
                  span 34%
                .browserStat.big
                  img(src='img/browser-firefox-big.png', alt='Firefox')
                  span 34%
                .browserStat
                  img(src='img/browser-ie.png', alt='Internet Explorer')
                  span 34%
                .browserStat
                  img(src='img/browser-safari.png', alt='Safari')
                  span 34%
                .browserStat
                  img(src='img/browser-opera.png', alt='Opera')
                  span 34%
          .widget.span4(ontablet='span6', ondesktop='span4')
            h2
              span.glyphicons.charts
                i
              | CACHE 
              span.label.label-warning Building
            hr
            .content
              .leftSide
                div#nextCacheTime
                div#cacheHitPct
              .rightSide(style="margin-top:10px;")
                .sparkLineStats
                  ul.unstyled
                    li
                      span.sparkLineStats3
                      | Size: 
                      span.number 2GB
                    li
                      span.sparkLineStats4
                      | Records: 
                      span.number 21,081
                    li
                      span.sparkLineStats4
                      | Run time: 
                      span.number 30ms

        hr
        .row-fluid
          .widget.span6(ontablet='span6', ondesktop='span6')
            h2
              span.glyphicons.facebook
                i
              | Facebook Fans
            hr
            .content
              #facebookChart(style='height: 300px; overflow: hidden;')

          .widget.span6(ontablet='span6', ondesktop='span6')
            h2
              span.glyphicons.twitter
                i
              | Twitter Followers
            hr
            .content
              #twitterChart(style='height: 300px; overflow: hidden;')

      #widgets-area.span2.hidden-tablet.hidden-phone
        ul#myTab.nav.tab-menu.nav-tabs
          li.active
            a(href='#charts')
              i.fa-icon-bar-chart
          li
            a(href='#users')
              i.fa-icon-group
          li
            a(href='#messages')
              i.fa-icon-envelope
          li
            a#close-widgets-area(href='#')
              i.fa-icon-signin
        #myTabContent.tab-content
          #charts.tab-pane.active
            .bar-stat
              span.title Account balance
              span.value $19 999,99
              span.chart.green 7,3,2,6,6,3,9,0,1,4
            hr
            .bar-stat
              span.title Clients
              span.value 1278
              span.chart.yellow 8,2,5,4,7,4,7,2,5,9
            hr
            .bar-stat
              span.title Orders
              span.value 5876
              span.chart.blue 2,4,6,8,3,5,9,3,2,2
            hr
            .bar-stat
              span.title Messages
              span.value 673
              span.chart.red 0,3,3,8,3,3,2,7,8,4
            hr
            #cpu-usage
            ul.progress-bars
              li
                span.title Free Memory
                span.percent
                .taskProgress.progressSlim.progressGreen 80
              li
                span.title Free HDD Drive
                span.percent
                .taskProgress.progressSlim.progressYellow 20
              li
                span.title Free SSD Drive
                span.percent
                .taskProgress.progressSlim.progressBlue 57
              li
                span.title Transfer
                span.percent
                .taskProgress.progressSlim.progressRed 45
          #users.tab-pane
            ul.users-list
              li
                a(href='#')
                  span.status.active
                  span.avatar
                    img.img-circle(src='img/avatar.jpg', alt='Avatar')
                  span.name Łukasz Holeczek
              li
                a(href='#')
                  span.status.busy
                  span.avatar
                    img.img-circle(src='img/avatar2.jpg', alt='Avatar')
                  span.name Megan Abott
              li
                a(href='#')
                  span.status.disable
                  span.avatar
                    img.img-circle(src='img/avatar3.jpg', alt='Avatar')
                  span.name Kate Ross
              li
                a(href='#')
                  span.status.active
                  span.avatar
                    img.img-circle(src='img/avatar4.jpg', alt='Avatar')
                  span.name Julie Blank
              li
                a(href='#')
                  span.status
                  span.avatar
                    img.img-circle(src='img/avatar5.jpg', alt='Avatar')
                  span.name Jane Sanders
              li
                a(href='#') View all users
          #messages.tab-pane
            ul.messages-list
              li
                a(href='#')
                  .avatar
                    img.img-circle(src='img/avatar.jpg', alt='Avatar')
                  span.name Łukasz Holeczek
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='#')
                  .avatar
                    img.img-circle(src='img/avatar2.jpg', alt='Avatar')
                  span.name Megan Abott
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='#')
                  .avatar
                    img.img-circle(src='img/avatar3.jpg', alt='Avatar')
                  span.name Kate Ross
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='#')
                  .avatar
                    img.img-circle(src='img/avatar4.jpg', alt='Avatar')
                  span.name Julie Blank
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='#')
                  .avatar
                    img.img-circle(src='img/avatar5.jpg', alt='Avatar')
                  span.name Jane Sanders
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='#') View all messages
      a#widgets-area-button.hidden-tablet.hidden-phone.open
        i.fa-icon-reorder
    #myModal.modal.hide.fade
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h3 Settings
      .modal-body
        p Here settings can be configured...
      .modal-footer
        a.btn(href='#', data-dismiss='modal') Close
        a.btn.btn-primary(href='#') Save changes
    .clearfix
    footer
      p
        span(style='text-align: left; float: left;')
          | © 2013
          a(href='http://bootstrapmaster.com', alt='Twitter Bootstrap Themes') creativeLabs
        span.hidden-phone(style='text-align: right; float: right;')
          | Powered by:
          a(href='http://admintemplates.co', alt='Bootstrap Admin Templates') ACME Dashboard
include footer.jade