#sidebar-left.span1
  .nav-collapse.sidebar-nav
    ul.nav.nav-tabs.nav-stacked.main-menu
      li
        a(href='/')
          i.fa-icon-bar-chart
          span.hidden-tablet  Dashboard
      li
        a(href='/logger')
          i.fa-icon-list-alt
          span.hidden-tablet  Logs
      li
        a(href='/configure')
          i.fa-icon-edit
          span.hidden-tablet  Configure
      li
        a(href='infrastructure.html')
          i.fa-icon-hdd
          span.hidden-tablet  Infrastructure
      li
        a(href='messages.html')
          i.fa-icon-envelope
          span.hidden-tablet  Messages
      li
        a(href='tasks.html')
          i.fa-icon-tasks
          span.hidden-tablet  Tasks
      li
        a(href='ui.html')
          i.fa-icon-eye-open
          span.hidden-tablet  UI Features
      li
        a(href='widgets.html')
          i.fa-icon-dashboard
          span.hidden-tablet  Widgets
      li
        a.dropmenu(href='#')
          i.fa-icon-folder-close-alt
          span.hidden-tablet  Dropdown
        ul
          li
            a.submenu(href='submenu1.html')
              i.fa-icon-file-alt
              span.hidden-tablet  Sub Menu 1
          li
            a.submenu(href='submenu2.html')
              i.fa-icon-file-alt
              span.hidden-tablet  Sub Menu 2
          li
            a.submenu(href='submenu3.html')
              i.fa-icon-file-alt
              span.hidden-tablet  Sub Menu 3

      li
        a(href='typography.html')
          i.fa-icon-font
          span.hidden-tablet  Typography
      li
        a(href='gallery.html')
          i.fa-icon-picture
          span.hidden-tablet  Gallery
      li
        a(href='table.html')
          i.fa-icon-align-justify
          span.hidden-tablet  Tables
      li
        a(href='calendar.html')
          i.fa-icon-calendar
          span.hidden-tablet  Calendar
      li
        a(href='file-manager.html')
          i.fa-icon-folder-open
          span.hidden-tablet  File Manager
      li
        a(href='icon.html')
          i.fa-icon-star
          span.hidden-tablet  Icons
      li
        a(href='login.html')
          i.fa-icon-lock
          span.hidden-tablet  Login Page
  a#main-menu-toggle.hidden-phone.open
    i.fa-icon-reorder

  noscript
    .alert.alert-block.span11
      h4.alert-heading Warning!
      p
        | You need to have
        a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
        | enabled to use this site.
