#sidebar-left.col-sm-1
  .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu
      li
        a(href='/')
          i.fa.fa-bar-chart-o
          span.hidden-sm  Dashboard
      li
        a(href='/configure')
          i.fa.fa-dashboard
          span.hidden-sm  Data Sources
      li
        a(href='/logger')
          i.fa.fa-font
          span.hidden-sm  Logger
a#main-menu-toggle.hidden-xs.open
  i.fa.fa-bars
